<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_base_background_color</key>
	<string>#F1F4F5</string>
	<key>_ffffff_color</key>
	<string>#FFFFFF</string>
	<key>_line_color</key>
	<string>#e8e8e8</string>
	<key>_212121_color</key>
	<string>#212121</string>
	<key>_595959_color</key>
	<string>#595959</string>
	<key>_8c8c8c_color</key>
	<string>#8C8C8C</string>
	<key>_9a9a9a_color</key>
	<string>#9A9A9A</string>
	<key>_red_color</key>
	<string>#FF0000</string>
	<key>_clear_color</key>
	<string>0,0,0,0</string>
	<key>_keyword_bg_color</key>
	<string>#eeeeee</string>
	<key>_keyword_line_color</key>
	<string>#d4d4d4</string>
	<key>_666666_color</key>
	<string>#666666</string>
	<key>_363636_color</key>
	<string>#363636</string>
	<key>_999999_color</key>
	<string>#999999</string>
	<key>_888888_color</key>
	<string>#888888</string>
	<key>_333333_color</key>
	<string>#333333</string>
	<key>_f8f8f8_color</key>
	<string>#f8f8f8</string>
	<key>_ff8925_color</key>
	<string>#FF8925</string>
	<key>_35b5f8_color</key>
	<string>#35B5F8</string>
	<key>_737373_color</key>
	<string>#737373</string>
	<key>_bfbfbf_color</key>
	<string>#bfbfbf</string>
	<key>_ffecb9_color</key>
	<string>#FFECB9</string>
	<key>_fdc716_color</key>
	<string>#FDC716</string>
	<key>_33c6b2_color</key>
	<string>#33c6b2</string>
	<key>_ff625a_color</key>
	<string>#ff625a</string>
	<key>_f7f7f7_color</key>
	<string>#F7F7F7</string>
	<key>_2c95f0_color</key>
	<string>#2c95f0</string>
	<key>_text_ploacher_color</key>
	<string>#BFBFBF</string>
	<key>_yellow_color</key>
	<string>#FFE000</string>
	<key>_fefbf1_color</key>
	<string>#FEFBF1</string>
	<key>_008aff_color</key>
	<string>#008AFF</string>
	<key>_cover_color</key>
	<string>0,0,0,0.4</string>
	<key>_ff8048_color</key>
	<string>#FF8048</string>
	<key>_59cfbf_color</key>
	<string>#59CFBF</string>
</dict>
</plist>
